:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center; /* Added for global centering */
  background-color: #1a1a1a;
  color: aliceblue;
  font-family: 'MyLocalFont4', sans-serif;
}

@font-face {
  font-family: 'MyLocalFont';
  src: url('../src/assets/fonts/Pistilli-Roman.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyLocalFont2';
  src: url('../src/assets/fonts/Nexa-Heavy.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyLocalFont3';
  src: url('../src/assets/fonts/ROTHEFIGHT.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyLocalFont4';
  src: url('../src/assets/fonts/Century\ Gothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body {
  overflow-x: hidden;
}

.btn-primary
    {
      padding: 14px 26px;
      background-color: #1a1a1a;
      color:aliceblue;
      text-decoration: none;
      font-size: 12px;
      border: none;
      transition: background-color 0.3s ease;
      text-align: center;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); 
      display: inline-block;
      margin: 50px auto 40px auto;
      text-transform: uppercase;
      letter-spacing: 3px;
        
    }
    .btn-primary:hover {
      background-color: #0e0e0e;
    }
